* {
  margin: 0;
  padding: 0;
  border: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  width: 384px;
  height: 384px;
}

.etchPixel {
  width: 24px;
  height: 24px;
}
